body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background: #1c1e26;
  color: #fff;
  display: grid;
  place-content: center;
  overflow: hidden;
  height: 100vh;
}

header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 0 0 10px 0 #33ff33;
  transition: all 0.2s ease-in-out;
}
nav a::before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #33ff33;
  transition: width 0.2s ease-in-out;
}
nav a:hover,
nav a:focus {
  color: #22cc22;
  box-shadow: 0 0 30px 0 #33ff33;
}
nav a:hover::before,
nav a:focus::before {
  width: 100%;
}
/* nav {
  background-color: #333;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

nav a:before {
  background-color: #16a085;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:after {
  background-color: #2980b9;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav a:hover:before,
nav a:focus:before,
nav a:hover:after,
nav a:focus:after {
  transform: scaleX(1);
}

nav a:hover {
  color: #16a085;
}

nav a:focus {
  outline: none;
  color: #2980b9;
} */

.title {
  font-size: 40px;
  text-align: center;
}
.cursor {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border: 2px solid red;
  color: red;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 20px;
}
.button:hover,
.button:focus {
  box-shadow: red 180px 0px 1px inset;
  color: #fff;
}

.box {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 300px;
  background: linear-gradient(
    to right,
    rgb(14, 214, 27),
    rgb(139, 139, 236),
    rgb(23, 23, 215)
  );
  background-size: 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.item {
  width: 100px;
  height: 100px;
  background: #fff;
  transition: 3500;
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container:hover :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
}
.my-btn {
  margin-top: 20px;
  background-color: #33ff33;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #33ff33;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.my-btn::before,
.my-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 5px;
  background: linear-gradient(-45deg, #d51818, #33ff33, #2241cc);
  background-size: 400% 400%;
  animation: gradient 2s linear infinite;
}

.my-btn::before {
  top: -15px;
}

.my-btn::after {
  bottom: -15px;
}

.my-btn:hover {
  background-color: #22cc22;
  box-shadow: 0 0 20px 0 #33ff33;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.field {
  margin-top: 20px;
  position: relative;
  height: 52px;
  max-width: 100%;
  max-width: 150px;
  color: white;
  overflow: hidden;
}
.field input {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  line-height: 52px;
  outline: 0;
  background-color: inherit;
  padding-top: 25px;
  border: none;
  box-sizing: border-box;
}
.field .label-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background-color: inherit;
  left: 0px;
  pointer-events: none;
  border-bottom: 1px solid #96ff50;
}
.field .label-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #96ff50;
  left: 0px;
  bottom: -1px;
  transform: translate(-100%);
  transition: transform 0.2s ease;
}
.field .label-text {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.2s ease;
}

.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text {
  font-size: 12px;
  color: #96ff50;
  transform: translateY(-150%);
}
.field input:focus + .label-wrapper .label-text::after,
.field input:valid + .label-wrapper .label-text::after {
  transform: translate(0%);
}

.shaking-text {
  font-size: 2em;
  color: #f94144;
  cursor: pointer;
}
.shaking-text:hover span {
  animation: shake 0.5s;
}
.shaking-text span {
  display: inline-block;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
    color: var(--color1);
  }
  50% {
    transform: translateX(5px);
    color: var(--color2);
  }
  75% {
    transform: translateX(-5px);
    color: var(--color3);
  }
  100% {
    transform: translateX(0);
    color: var(--color4);
  }
}
